.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-icon {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    background-image: url(../assets/logo.jpg);
    background-size: cover;
    border-radius: 50%;
}

nav>a {
    padding-left: 32px;
    padding-right: 32px;
    border: 1px solid black;
}

.banner-container {
    height: 500px;
    width: 100%;
    border: 1px solid black;
    background-image: url(../assets/banner-pempek1.jpg);
    background-size: cover;
}

.profile-content {
    display: flex;
    justify-content: space-evenly;
}

.profile-item {
    text-align: center;
}

.profile-icon {
    height: 50px;
    width: 50px;
    border: 1px solid black;

    background-size: cover;
    border-radius: 50%;
}

.portofolio-user {
    height: 50px;
    width: 50px;
    border: 1px solid black;

    background-size: cover;
    border-radius: 50%;
    background-image: url(../assets/owner.jpg);
    background-size: cover;
}

.portofoliouser {
    display: flex;
    justify-content: center;
}

.copyright {
    display: flex;
    justify-content: right;
}

.form {
    display: flex;
    justify-content: space-around;
}